.prduct-view {
  width: 70%;
  margin-left: 100px;
  padding-left: 50px;
  padding-right: 50px;
  .button-link {
    padding: 1.6rem;
  }
  .product-modal {
    // width: 100%;
    display: inline-flex;
    background: #fff;
    border: 1px solid #e1e1e1;
    margin-bottom: 150px;
    .product-modal-image-collection {
      width: 150px;
      height: inherit;
      background: #fff;
      display: flex;
      flex-direction: column;
      padding: 10px;
      overflow-y: scroll;
      position: relative;
      .product-modal-image-collection-wrapper {
        width: 100%;
        height: 100px;
        border: 1px solid #e1e1e1;
        margin-bottom: 5px;
        position: relative;
      }
      .product-modal-image-collection-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .product-modal-image-wrapper {
      width: 40rem;
      height: inherit;
      //   flex-grow: 1;
      position: relative;
      background: #f8f8f8;
      .product-modal-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .product-modal-details {
      width: 500px;
      padding: 3.2rem;
      .text-subtle {
        color: #818181;
      }
      .divider {
        width: 100%;
        height: 1px;
        background: #f1f1f1;
      }
      .color-chooser {
        width: 100%;
        display: flex;
        .color-item {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 0 10px;
          position: relative;
          z-index: 1;
          transition: transform 0.2s ease;
          flex-shrink: 0;
        }
        .color-item-deletable:after,
        .color-item-selected:after {
          content: "✓";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: auto;
          color: #fff;
          font-size: bold;
        }
      }
      .product-modal-action {
        display: flex;
        margin-top: 1.6rem;
      }
    }
  }
}

path {
  width: 2em;
  height: 2em;
}
