a {
  text-decoration: none;
  color: #101010 !important;
}

li {
  list-style-type: none;
}

html {
  font-size: 10px;
}

.navbar-container {
  padding: 30px 50px 5px;
  background: #f9f9f9;
}

.navbar .active {
  background: #f2f2f2;
}

.navbar .default {
  background: transparent;
}
.navbar .nav-link {
  padding: 10px 15px !important;
  font-size: 1.4rem;
}

.navbar .nav-item:hover {
  cursor: pointer;
  /* background: #f2f2f2; */
}

.searchbar-icon {
  position: absolute;
  left: 1.6rem;
  top: 1rem;
  bottom: 0;
  margin: auto;
  color: #7a7a7a;
  font-size: 1.6rem;
}

.searchbar-input,
.searchbar-recent {
  /* width: 100%; */
  width: 300px;
  background: #fff;
}

.search-input {
  padding-left: 4.8rem !important;
}

.react-tel-input input[type="tel"],
input,
textarea {
  border: 1px solid #e1e1e1;
  background: transparent;
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  box-shadow: 0;
  outline: 0;
}

.button {
  background: #101010;
  padding: 1.6rem;
  border: 1px solid #101010;
  color: #fff !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.button-muted {
  background: #f2f2f2 !important;
  color: #7d7d7d !important;
  border: 1px solid #e1e1e1;
}

.button-small {
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
}
